body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; /* This ensures the navbar and main content stack vertically */
}

mat-toolbar {
  height: 60px; /* Adjust this if your navbar has a different height */
}



.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; /* This will give space between flex items */
}

.app-welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
