<div *ngIf="!editMode"> 
  <h2>{{ userData?.Username }}</h2>
  <p>Email: {{ userData?.Email }}</p>
  <p>Date of Birth: {{ userData?.Birthday | date }}</p>

<!-- Favorite Movies Section -->
<h3>Favorite Movies:</h3>
<ul *ngIf="userFavoriteMovies && userFavoriteMovies.length">
  <li *ngFor="let favoriteMovie of userFavoriteMovies">
    {{ favoriteMovie?.Title }}
    <button mat-stroked-button (click)="removeFavorite(favoriteMovie._id)">Remove</button>
  </li>
</ul>
<p *ngIf="!userFavoriteMovies || !userFavoriteMovies.length">No favorite movies added yet.</p>
<!-- End of Favorite Movies Section -->

  <button mat-raised-button color="primary" (click)="goBack()">Back</button>
  <button mat-raised-button color="primary" (click)="enableEditMode()">Edit Profile</button>
</div>
  
  <div *ngIf="editMode">
    <mat-form-field>
      <input matInput [(ngModel)]="userData.Username" placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="userData.Email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="userData.Birthday" placeholder="Birthday">
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="saveUserData()">Save Changes</button>


  </div>
  